/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #6c7279;
	background-color: #fff;
	
}
h1,h1,h3,h4,h5,h6 {
	margin: 0;
}
.hero {
	height: 750px;
	background: #30344e URL("../img/intro-bg.jpg") center no-repeat;
}

/*=====CONTAINER========*/
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
h1 {
	font-size: 56px;
	color: aqua;
}
.wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;
	padding-top: 35px;
	border-bottom: 2px solid #4c4f66;
	align-items: center;
}

.header {
	
	
}

.header--nav-link {
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 50px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	opacity: .75;
	transition: opacity .2 linear;
}
.header--nav-link:hover {
	text-decoration: underline;
		opacity: 1;
}
.header--nav-link:first-child {
	margin-left: 0;
}
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-top: 150px;
	text-align: center;
	
}

.intro--title {
	font-size: 65px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: aliceblue;
	text-transform: uppercase;

	
}

.intro--subtitle {
	font-size: 22px;
	color: #ebebec;
	font-weight: 400;
	margin-bottom: 80px;
		
}

.intro--inner {
	max-width: 970px;
	width: 100%;
	margin: 0 auto;
}

.intro--btn {
	font-size: 14px;
	color:#fff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	
	background-color: #e84545;
	padding: 16px 32px;
	border-radius: 5px;
	margin-top: 50px;
}
